video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}


 
.hero-container {
  background: url(/public/images/pets-wallpaper-hd-1200x720-340727.jpg) center center/cover
    no-repeat;
  background-size: initial;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 0px rgba(255, 255, 255, 0);
  
  
}


.hero-container > h1 {
  color: rgb(0, 0, 0);
  font-size: 60px;
  margin-top: -100px;
}

.hero-container > h2 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-top: -20px;
  
  }

  .hero-container > h3 {
  color: rgb(0, 0, 0);
  font-size: 25px;
  margin-top: -10px;
}

.hero-container > p {
  margin-top: 8px;
  color: rgb(0, 0, 0);
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, "sans-serif";
}

.hero-btns {
    margin-top: -10px;
}

.hero-btns .btn {
    margin: 6px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 1224px) {
    .hero-container > h1 {
       
        font-size: 50px;
        margin-top: -100px;
      }
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
       
        font-size: 50px;
        margin-top: -100px;
      }

      .btn-mobile {
          display: block;
          text-decoration: none;
      }

      .btn {
          width: 100%;
      }
}